@model GetPortfolioDto

@{
    ViewData["Title"] = "بروزرسانی نمونه کار";
    List<GetCategoryDto> categories = ViewBag.Category;
    List<GetTechnologyDto> technologies = ViewBag.Technology;
    List<UpdatePortfolioCatViewModel> portfoliosCatforupdate = ViewBag.PortfolioCat;
    List<UpdatePortfolioTechViewModel> portfoliosTechforupdate = ViewBag.PortfolioTech;
    
    
    List<UpdatePortfolioCatViewModel> existpropCat = new List<UpdatePortfolioCatViewModel>();
    List<UpdatePortfolioTechViewModel> existpropTech = new List<UpdatePortfolioTechViewModel>();
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی نمونه کار</div>
            <form asp-action="UpdatePortfolio" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="PortfolioId"/>
                 <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="SubTitle">زیرعنوان</label>
                        <input asp-for="SubTitle" class="form-control" placeholder="زیرعنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="SubTitle"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Description">توضیحات</label>
                        <input asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="SiteAddress">ادرس سایت</label>
                        <input asp-for="SiteAddress" class="form-control" placeholder="آدرس سایت را وارد کنید">
                        <span class="text-danger" asp-validation-for="SiteAddress"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="CompanyName">نام شرکت</label>
                        <input asp-for="CompanyName" class="form-control" placeholder="نام شرکت را وارد کنید">
                        <span class="text-danger" asp-validation-for="CompanyName"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="CompanyLogo">تصویر لوگو شرکت</label>
                        <input asp-for="CompanyLogo" class="form-control" placeholder="تصویر لوگو شرکت را وارد کنید">
                        <span class="text-danger" asp-validation-for="CompanyLogo"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="FeatureMedia">تصویر شاخص</label>
                        <input asp-for="FeatureMedia" class="form-control" placeholder="تصویر شاخص را وارد کنید">
                        <span class="text-danger" asp-validation-for="FeatureMedia"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label >تصاویر</label>
                        <input class="form-control" placeholder="تصاویر را وارد کنید">
                    </div>
                    
                     <div class="col-md-6 form-group mb-3">
                         <select class="form-control" id="select-category">
                             @foreach (var category in categories)
                             {
                                 if (portfoliosCatforupdate.Where(c => c.CategoryId == category.CategoryId).Any())
                                 {
                                     existpropCat.Add(new UpdatePortfolioCatViewModel
                                     {
                                         CategoryId = category.CategoryId,
                                         PortfolioTitle = category.Title,
                                     });
                                 }
                                 else
                                 {
                                     <option value="@category.CategoryId">@category.Title</option>
                                 }
                             }
      
                         </select>
                         <button class="Add-Category btn btn-success" style="width: 10%; height: 13%; margin-top: 1%; margin-bottom: 1%; padding: 10px; border-radius: 10px;" type="button">انتخاب</button>
                         <div class="ListCategory">
                             @foreach (var item in existpropCat)
                             {
                                 <div style="background: gray;height: 50px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:inline-block;color: whitesmoke;">
                                     <label class="control-label col-md-12">@item.PortfolioTitle  </label>
                                     <input type="hidden" name="CategoryId" value="@item.CategoryId" />
                                     <a style="float:left;top:-25px;line-height: 36px;position: relative;height: 100%;border-radius: 5px;" class="btn btn-danger remove-category">حذف</a>
                                 </div>
                             }
                         </div>
                     </div>

                     <div class="col-md-6 form-group mb-3">
                        <select class="form-control" id="select-technology">
                           @foreach (var tech in technologies)
                           {
                               if (portfoliosTechforupdate.Where(c => c.TechnologyId == tech.TechnologyId).Any())
                               {
                                   existpropTech.Add(new UpdatePortfolioTechViewModel
                                   {
                                       TechnologyId = tech.TechnologyId,
                                       PortfolioTitle = tech.Title,
                                   });
                               }
                               else
                               {
                                   <option value="@tech.TechnologyId">@tech.Title</option>
                               }
                           }
       
                       </select>
                       <button class="Add-Technology btn btn-success" style="width: 10%; height: 13%; margin-top: 1%; margin-bottom: 1%; padding: 10px; border-radius: 10px;" type="button">انتخاب</button>
                       <div class="ListTechnology">
                           @foreach (var item in existpropTech)
                           {
                               <div style="background: gray;height: 50px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:inline-block;color: whitesmoke;">
                                   <label class="control-label col-md-12">@item.PortfolioTitle  </label>
                                   <input type="hidden" name="TechnologyId" value="@item.TechnologyId" />
                                   <a style="float:left;top:-25px;line-height: 36px;position: relative;height: 100%;border-radius: 5px;" class="btn btn-danger remove-technology">حذف</a>
                               </div>
                           }
                       </div>
                    </div>

                     <div class="col-md-12">
                      <button asp-action="UpdatePortfolio" asp-controller="AdminPortfolio" class="btn btn-primary" type="submit">تایید</button>
                      <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                  </div>
                </div>  
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(".Add-Category").click(function () {
            if ($("#select-category").val()) {
                var value = $("#select-category").children("option:selected").val();
                var text = $("#select-category").children("option:selected").text();
                $(".ListCategory").append(
                    "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                      + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                      + "<input type='hidden' name='CategoryId' value='" + value + "' />"
                      + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-category'>حذف</a>"
                      + "</div>"
                );
                $("#select-category").children("option:selected").remove();
            }
        });

        $('.ListCategory').delegate(".remove-category", 'click', function () {
            var content = $(this).parent();
            var text = content.find($("label")).text();
            var value = content.find($("input[type=hidden]")).val();
            $("#select-category").append($('<option>', {
                value: value,
                text: text
            }));
            content.remove();
        });
        
        
        
           //technology
            $(".Add-Technology").click(function () {
                if ($("#select-technology").val()) {
                    var value = $("#select-technology").children("option:selected").val();
                    var text = $("#select-technology").children("option:selected").text();
                    $(".ListTechnology").append(
                        "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                        + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                        + "<input type='hidden' name='TechnologyId' value='" + value + "' />"
                        + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-technology'>حذف</a>"
                        + "</div>"
    
                    );
                    $("#select-technology").children("option:selected").remove();
                }
            });
    
            $('.ListTechnology').delegate(".remove-technology", 'click', function () {
                var content = $(this).parent();
                var text = content.find($("label")).text();
                var value = content.find($("input[type=hidden]")).val();
                $("#select-technology").append($('<option>', {
                    value: value,
                    text: text
                }));
                content.remove();
            });
    </script>
}
