@using C1System.Media
@model GetPortfolioDto
@inject UploadRepository uploadRepository

@{
    ViewData["Title"] = "بروزرسانی نمونه کار";
    List<GetCategoryDto> categories = ViewBag.Category;
    List<GetTechnologyDto> technologies = ViewBag.Technology;
    List<UpdatePortfolioCatViewModel> portfoliosCatforupdate = ViewBag.PortfolioCat;
    List<UpdatePortfolioTechViewModel> portfoliosTechforupdate = ViewBag.PortfolioTech;
    List<UpdatePortfolioCatViewModel> existpropCat = new List<UpdatePortfolioCatViewModel>();
    List<UpdatePortfolioTechViewModel> existpropTech = new List<UpdatePortfolioTechViewModel>();
    
    List<UpdatePortfolioMediaViewModel> portfoliosMediaforupdate = ViewBag.MediaImage;

}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی نمونه کار</div>
            <form asp-action="UpdatePortfolio" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="PortfolioId"/>
                 <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="SubTitle">زیرعنوان</label>
                        <input asp-for="SubTitle" class="form-control" placeholder="زیرعنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="SubTitle"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Description">توضیحات</label>
                        <input asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="SiteAddress">ادرس سایت</label>
                        <input asp-for="SiteAddress" class="form-control" placeholder="آدرس سایت را وارد کنید">
                        <span class="text-danger" asp-validation-for="SiteAddress"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="CompanyName">نام شرکت</label>
                        <input asp-for="CompanyName" class="form-control" placeholder="نام شرکت را وارد کنید">
                        <span class="text-danger" asp-validation-for="CompanyName"></span>
                    </div>
                     
                     <div class="col-md-6 form-group mb-3">
                          <label>تصویر لوگو شرکت</label>
                          <input name="companyLogoFile" type="file" class="form-control" multiple="multiple">
                                     
                          @if (portfoliosMediaforupdate != null)
                          {
                              <div class="d-flex justify-content-center align-items-center mt-5">
                                  @foreach (var mediaItem in portfoliosMediaforupdate)
                                  {
                                      @if (mediaItem.FileName.Contains("Portfolios/CompanyLogo"))
                                      {
                                          <div class="position-relative" id="@mediaItem.MediaId">
                                              <img href="~/Medias/@mediaItem.FileName" target="_blank" class="w-20 rounded-2" src="~/Medias/@mediaItem.FileName" alt=""  />
                                              <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeletePortfolioMediaById" asp-controller="AdminPortfolio" asp-route-id="@mediaItem.MediaId" asp-route-portfolioId="@Model.PortfolioId"><i class="i-Close-Window"></i></a>
                                          </div>
                                      }
                                  }
                              </div>
                          }
                      </div>

                     <div class="col-md-6 form-group mb-3">
                         <label>تصویر شاخص</label>
                         <input name="featureImgFile" type="file" class="form-control" multiple="multiple">
                                    
                         @if (portfoliosMediaforupdate != null)
                         {
                             <div class="d-flex justify-content-center align-items-center mt-5">
                                 @foreach (var mediaItem in portfoliosMediaforupdate)
                                 {
                                     @if (mediaItem.FileName.Contains("Portfolios/FeatureImg"))
                                     {
                                         <div class="position-relative" id="@mediaItem.MediaId">
                                             <img href="~/Medias/@mediaItem.FileName" target="_blank" class="w-20 rounded-2" src="~/Medias/@mediaItem.FileName" alt=""/>
                                             <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeletePortfolioMediaById" asp-controller="AdminPortfolio" asp-route-id="@mediaItem.MediaId" asp-route-portfolioId="@Model.PortfolioId"><i class="i-Close-Window"></i></a>
                                         </div>
                                     }
                                 }
                             </div>
                         }
                     </div>
                     

                     @* Medias *@
                     <div class="col-md-6 form-group mb-3">
                         <label>تصاویر</label>
                         <input name="files" type="file" class="form-control" multiple="multiple">
                         
                         @if (portfoliosMediaforupdate != null)
                         {
                               @* uploaded medias *@
                             <div class="d-flex justify-content-center align-items-center mt-5">
                                 @foreach (var mediaItem in portfoliosMediaforupdate)
                                 {
                                     @if (mediaItem.FileName.Contains("Portfolios/Gallery"))
                                     {
                                         <div class="position-relative" id="@mediaItem.MediaId">
                                             <img href="~/Medias/@mediaItem.FileName" target="_blank" class="w-20 rounded-2" src="~/Medias/@mediaItem.FileName" alt=""/>
                                             <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeletePortfolioMediaById" asp-controller="AdminPortfolio" asp-route-id="@mediaItem.MediaId" asp-route-portfolioId="@Model.PortfolioId"><i class="i-Close-Window"></i></a>
                                         </div>
                                     }
                                 }
                             </div>
                         }
                     </div>
                     
                     @* Categories *@
                     <div class="col-md-6 form-group mb-3">
                        <label>انتخاب دسته بندی ها</label>
                         <select class="form-control" id="select-category">
                             @foreach (var category in categories)
                             {
                                 if (portfoliosCatforupdate.Where(c => c.CategoryId == category.CategoryId).Any())
                                 {
                                     existpropCat.Add(new UpdatePortfolioCatViewModel
                                     {
                                         CategoryId = category.CategoryId,
                                         PortfolioTitle = category.Title,
                                     });
                                 }
                                 else
                                 {
                                     <option value="@category.CategoryId">@category.Title</option>
                                 }
                             }
      
                         </select>
                         <button class="Add-Technology btn btn-success my-2" type="button">انتخاب</button>
                         <div class="ListCategory">
                             @foreach (var item in existpropCat)
                             {
                                 <div class="mb-2 d-flex align-items-center text-black w-50 border-4" style="background: #8080802b;height:39px;border-radius: 6px;">
                                     <label class="col-md-12">@item.PortfolioTitle</label>
                                     <input type="hidden" name="CategoryId" value="@item.CategoryId" />
                                     <a class="btn btn-danger remove-category">حذف</a>
                                 </div>
                             }
                         </div>
                     </div>

                     @* Technologies *@
                     <div class="col-md-6 form-group mb-3">
                         <label>انتخاب تکنولوژی ها</label>
                         <select class="form-control" id="select-technology">
                             @foreach (var tech in technologies)
                             {
                                 if (portfoliosTechforupdate.Where(c => c.TechnologyId == tech.TechnologyId).Any())
                                 {
                                     existpropTech.Add(new UpdatePortfolioTechViewModel
                                     {
                                         TechnologyId = tech.TechnologyId,
                                         PortfolioTitle = tech.Title,
                                     });
                                 }
                                 else
                                 {
                                     <option value="@tech.TechnologyId">@tech.Title</option>
                                 }
                             }

                         </select>
                         <button class="Add-Technology btn btn-success my-2" type="button">انتخاب</button>
                         <div class="ListTechnology">
                             @foreach (var item in existpropTech)
                             {
                                 <div class="mb-2 d-flex align-items-center text-black w-50 border-4" style="background: #8080802b;height:39px;border-radius: 6px;">
                                     <label class="col-md-12">@item.PortfolioTitle</label>
                                     <input type="hidden" name="TechnologyId" value="@item.TechnologyId" />
                                     <a class="btn btn-danger remove-technology">حذف</a>
                                 </div>
                             }
                         </div>
                     </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="PortfolioSort">ترتیب نمونه کار</label>
                        <input asp-for="PortfolioSort" class="form-control">
                        <span class="text-danger">@Html.ValidationMessage("ErrorSort")</span>
                    </div>
                    
                     <div class="col-md-6 form-group mb-3">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="IsActive" type="checkbox">
                            <label class="form-check-label" asp-for="IsActive">
                                آیا فعال باشد ؟!
                            </label>
                        </div>
                    </div>

                     <div class="col-md-12">
                          <button asp-action="UpdatePortfolio" asp-controller="AdminPortfolio" class="btn btn-primary" type="submit">تایید</button>
                         <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                     </div>
                </div>  
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
    function deletePic(picId)
    {
        // e.preventDefault();
       var picToDel = document.getElementById(picId);
       console.log(picToDel)
       picToDel.remove();
    }  
    </script>
    <script>
        //category
        $(".Add-Category").click(function () {
            if ($("#select-category").val()) {
                var value = $("#select-category").children("option:selected").val();
                var text = $("#select-category").children("option:selected").text();
                $(".ListCategory").append(
                    "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                      + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                      + "<input type='hidden' name='CategoryId' value='" + value + "' />"
                      + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-category'>حذف</a>"
                      + "</div>"
                );
                $("#select-category").children("option:selected").remove();
            }
        });

        $('.ListCategory').delegate(".remove-category", 'click', function () {
            var content = $(this).parent();
            var text = content.find($("label")).text();
            var value = content.find($("input[type=hidden]")).val();
            $("#select-category").append($('<option>', {
                value: value,
                text: text
            }));
            content.remove();
        });
        
        //technology
        $(".Add-Technology").click(function () {
            if ($("#select-technology").val()) {
                var value = $("#select-technology").children("option:selected").val();
                var text = $("#select-technology").children("option:selected").text();
                $(".ListTechnology").append(
                    "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                    + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                    + "<input type='hidden' name='TechnologyId' value='" + value + "' />"
                    + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-technology'>حذف</a>"
                    + "</div>"

                );
                $("#select-technology").children("option:selected").remove();
            }
        });

        $('.ListTechnology').delegate(".remove-technology", 'click', function () {
            var content = $(this).parent();
            var text = content.find($("label")).text();
            var value = content.find($("input[type=hidden]")).val();
            $("#select-technology").append($('<option>', {
                value: value,
                text: text
            }));
            content.remove();
        });         
    </script>
}
