@model GetPodcastDto

@{
    ViewData["Title"] = "بروزرسانی پادکست";
    List<GetTagDto> tags = ViewBag.Tag;
    List<UpdatePodcastTagViewModel> podcastsforupdate = ViewBag.PodcastTag;
    List<UpdatePodcastTagViewModel> existPodcastTag = new List<UpdatePodcastTagViewModel>();
    
    List<UpdatePodcastMediaViewModel> podcastsMediaforupdate = ViewBag.MediaImage;

}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی پادکست</div>
            <form asp-action="UpdatePodcast" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="PodcastId"/>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="PodcastNumber">شماره پادکست</label>
                        <input asp-for="PodcastNumber" class="form-control" placeholder="شماره پادکست را وارد کنید">
                        <span class="text-danger" asp-validation-for="PodcastNumber"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="StudyTime">زمان مطالعه</label>
                        <input asp-for="StudyTime" class="form-control" placeholder="زمان مطالعه را وارد کنید">
                        <span class="text-danger" asp-validation-for="StudyTime"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label>تصویر شاخص</label>
                        <input name="featureImgFile" type="file" class="form-control">
                                                        
                        @if (podcastsMediaforupdate != null)
                        {
                            <div class="d-flex justify-content-center align-items-center mt-5">
                                @foreach (var mediaItem in podcastsMediaforupdate)
                                {
                                    @if (mediaItem.FileName.Contains("Podcasts/FeatureImg"))
                                    {
                                        <div class="position-relative" id="@mediaItem.MediaId">
                                            <img href="~/Medias/@mediaItem.FileName" target="_blank" class="w-20 rounded-2" src="~/Medias/@mediaItem.FileName" alt=""/>
                                            <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeletePodcastMediaById" asp-controller="AdminPodcast" asp-route-id="@mediaItem.MediaId" asp-route-podcastId="@Model.PodcastId"><i class="i-Close-Window"></i></a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                    
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Description">توضیحات</label>
                        <input asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    
                    <div class="col-md-6 form-group mb-3">
                        <label>فایل صوت</label>
                        <input name="featureImgFile" type="file" class="form-control">
                                                                            
                        @if (podcastsMediaforupdate != null)
                        {
                            <div class="d-flex justify-content-center align-items-center mt-5">
                                @foreach (var mediaItem in podcastsMediaforupdate)
                                {
                                    @if (mediaItem.FileName.Contains("Podcasts/Audios"))
                                    {
                                        <div class="position-relative" id="@mediaItem.MediaId">
                                            <audio controls>
                                              <source src="~/Medias/@mediaItem.FileName" type="audio/mpeg">
                                              Your browser does not support the audio tag.
                                            </audio>
                                            <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeletePodcastMediaById" asp-controller="AdminPodcast" asp-route-id="@mediaItem.MediaId" asp-route-podcastId="@Model.PodcastId"><i class="i-Close-Window"></i></a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>

                    @* tags *@
                     <div class="col-md-6 form-group mb-3">
                         <label>انتخاب برچسب ها</label>
                         <select class="form-control" id="select-tag">
                           @foreach (var tag in tags)
                           {
                               if (podcastsforupdate.Where(p => p.TagId == tag.TagId).Any())
                               {
                                   existPodcastTag.Add(new UpdatePodcastTagViewModel
                                   {
                                       TagId = tag.TagId,
                                       PodcastTitle = tag.Title
                                   });
                               }
                               else
                               {
                                   <option value="@tag.TagId">@tag.Title</option>
                               }
                           }
       
                       </select>
                       <button class="Add-Tag btn btn-success my-2" type="button">انتخاب</button>
                       <div class="ListTag">
                           @foreach (var item in existPodcastTag)
                           {
                               <div class="mb-2 d-flex align-items-center text-black w-50 border-4" style="background: #8080802b;height:39px;border-radius: 6px;">
                                   <label class="col-md-12">@item.PodcastTitle</label>
                                   <input type="hidden" name="TagId" value="@item.TagId" />
                                   <a class="btn btn-danger remove-tag">حذف</a>
                               </div>
                           }
                       </div>
                    </div>

                    <div class="col-md-12">
                       <button asp-action="UpdatePodcast" asp-controller="AdminPodcast" class="btn btn-primary" type="submit">تایید</button>
                       <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(".Add-Tag").click(function () {
            if ($("#select-tag").val()) {
                var value = $("#select-tag").children("option:selected").val();
                var text = $("#select-tag").children("option:selected").text();
                $(".ListTag").append(
                    "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                      + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                      + "<input type='hidden' name='TagId' value='" + value + "' />"
                      + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-tag'>حذف</a>"
                      + "</div>"
                );
                $("#select-tag").children("option:selected").remove();
            }
        });

        $('.ListTag').delegate(".remove-tag", 'click', function () {
            var content = $(this).parent();
            var text = content.find($("label")).text();
            var value = content.find($("input[type=hidden]")).val();
            $("#select-tag").append($('<option>', {
                value: value,
                text: text
            }));
            content.remove();
        });
    </script>
}