@model GetCategoryDto

@{
    ViewData["Title"] = "حذف خدمت";
    List<UpdateCategoryMediaViewModel> categoriesMediaforupdate = ViewBag.MediaImage;
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">حذف خدمت</div>
            <form asp-action="DeleteCategoryById" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input readonly="readonly" asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="SubTitle">زیرعنوان</label>
                        <input readonly="readonly" asp-for="SubTitle" class="form-control" placeholder="زیرعنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="SubTitle"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Description">توضیحات</label>
                        <input readonly="readonly" asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label>عکس آیکن خدمت</label>
                        @if (categoriesMediaforupdate != null)
                        {
                            <div class="d-flex justify-content-center align-items-center mt-5">
                                @foreach (var mediaItem in categoriesMediaforupdate)
                                {
                                    @if (mediaItem.FileName.Contains("Categories/IconCategory"))
                                    {
                                        <div class="position-relative" id="@mediaItem.MediaId">
                                            <img href="~/Medias/@mediaItem.FileName" target="_blank" class="w-20 rounded-2" src="~/Medias/@mediaItem.FileName" alt=""  />
                                            <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeletePortfolioMediaById" asp-controller="AdminPortfolio" asp-route-id="@mediaItem.MediaId" asp-route-portfolioId="@Model.CategoryId"><i class="i-Close-Window"></i></a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="IntroDescription">متن معرفی</label>
                        <input readonly="readonly" asp-for="IntroDescription" class="form-control" placeholder="متن معرفی را وارد کنید">
                        <span class="text-danger" asp-validation-for="IntroDescription"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="BannerTitle">عنوان بنر</label>
                        <input readonly="readonly" asp-for="BannerTitle" class="form-control" placeholder="عنوان بنر را وارد کنید">
                        <span class="text-danger" asp-validation-for="BannerTitle"></span>
                     </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="BannerDescription">توضیحات بنر</label>
                        <input readonly="readonly" asp-for="BannerDescription" class="form-control" placeholder="توضیحات بنر را وارد کنید">
                        <span class="text-danger" asp-validation-for="BannerDescription"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label>ویدئو معرفی خدمت</label>
                        @if (categoriesMediaforupdate != null)
                        {
                            <div class="d-flex justify-content-center align-items-center mt-5">
                                @foreach (var mediaItem in categoriesMediaforupdate)
                                {
                                    @if (mediaItem.FileName.Contains("Categories/VideoIntro"))
                                    {
                                        <div class="position-relative" id="@mediaItem.MediaId">
                                            <video width="320" height="240" controls>
                                                <source src="~/Medias/@mediaItem.FileName" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                            <a class="position-absolute top-0 left-0 bg-white text-black rounded-circle p-1 pe-auto" asp-action="DeleteCategoryMediaById" asp-controller="AdminCategory" asp-route-id="@mediaItem.MediaId" asp-route-categoryId="@Model.CategoryId"><i class="i-Close-Window"></i></a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>

                    <div class="col-md-12">
                        <button asp-action="DeleteCategoryById" asp-controller="AdminCategory" asp-route-categoryId="@Model.CategoryId" class="btn btn-primary" type="submit">تایید</button>
                        <a asp-action="ShowAllCategories" class="btn btn-danger m-1">لغو</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
